* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  font-size: 62.9%;
}
body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  user-select: none;
  cursor: pointer;
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #9f9f9f;
  z-index: 2;
  &:hover{
    opacity: 0.7;
  }
  &:active{
    opacity: 0.4;
  }
}
.btn1 {
  width: 18rem;
  border-radius: 9rem;
  justify-content: start;
  padding-left: 4rem;
}
.all {
  width: 428px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
  flex-direction: column;
  div {
    color: white;
    font-size: 5rem;
    font-weight: 800;
  }
}
.display {
  display: flex;
  align-items: end;
  flex-direction: column;
  border: 1px solid blue;
  width: 100%;
  &>*{
    border: 1px solid blue;
  }
  .history {
    font-size: 2rem;
    max-width: 42rem;
    max-height: 19rem;
    font-weight: 500;
    padding: 0 2rem;
    text-align: right;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  p{
    font-size: 2rem;
    max-width: 42rem;
    max-height: 19rem;
    font-weight: 500;
    padding: 0 2rem;
    text-align: right;
  }
  h3{
    font-weight: 500;
    font-size: 6rem;
    max-width: 100%;
    padding-right: 2rem;
  }
}
.display::-webkit-scrollbar{
    display: none;
}
.display > * {
  width: 100%;
  text-align: right;
}

.buttons {
  padding-bottom: 2rem;
  width: 100%;
  transform: translateX(1rem);
  display: grid;
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  .FunctionsBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1/2;
    gap: 1rem;
  }
  .NumbericBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 2/6;
    gap: 1rem;
    .btn {
      background: #373736;
    }
  }
  .AmallarBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 1/6;
    gap: 1rem;
    .btn {
      background: #fc8700;
    }
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 59%;
  }
}
@media screen and (max-width: 398px) {
  html {
    font-size: 56%;
  }
}
@media screen and (max-width: 378px) {
  html {
    font-size: 53%;
  }
}
@media screen and (max-width: 357px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 337px) {
  html {
    font-size: 47%;
  }
}
@media screen and (max-width: 317px) {
  html {
    font-size: 44%;
  }
}
